
*{
  text-align: center;
}

#section1, footer, #javaScriptBox{
  background-color:green;
  padding:1em
}

nav a{
  border:solid white 2px;
  padding:1px;
}

.wave{
background:
    linear-gradient(to right, sandybrown, chocolate);
  height: 50px;
  position: relative;
}

.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, aquamarine 13px);
}

.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, aquamarine 12px, transparent 13px);
}
